[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesTools"]
	path = BayesTools
	url = https://github.com/fbartos/bayestools
[submodule "IRR2FPR"]
	path = IRR2FPR
	url = https://github.com/fbartos/irr2fpr
[submodule "RoBMA"]
	path = RoBMA
	url = https://github.com/fbartos/robma
[submodule "RoBSA"]
	path = RoBSA
	url = https://github.com/fbartos/robsa
[submodule "RoBTT"]
	path = RoBTT
	url = https://github.com/fbartos/robtt
[submodule "zcurve"]
	path = zcurve
	url = https://github.com/fbartos/zcurve
